*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box
}
body{
    width:50%;
}
.bullets{
    list-style-type:circle;
    /* color: aqua; */
    margin-left: 45px;
    
}
img{
    width: 450px;
    height:300px;
}
#list{
    margin-left: 45px;
}

#main{
    /* border:2px solid orange; */
    display: flex;
}
.container1,#container2{
    display:flex;
    flex-direction: column;
    align-content:center; 
    position:relative;
    /* justify-content: center; */
    /* border: 2px solid green; */
}
